* {
    margin: 0;
    padding: 0;
}
  
body {
    margin: 0; padding: 0;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    height: 400px;
}
  
  
.contenedor-principal {
    border-radius: 20px;
    display: grid;
    place-items: center;
    background-color: #fdfdfd;
    font-family: 'Times New Roman', Times, serif;
}
  
.color {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    width: 250px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
  
label, p { 
    margin: 10px;
}